 
/* Colours  */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5555FF;
    --tertiary-color: #aa55ff70;
}
/* Colours end  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header / Nav bar styles start */
header {
    background-image: url("../img/grad_flowers_pond.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a{
    text-decoration: none; /* <!-- this removed the link underlines --> */
    color: var(--primary-color);
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Header / Nav bar styles end */


/* BOOTSTRAP - Responsive Breakpoints  */
 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }