 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: 'Otomanopee One', sans-serif;
}

/* Colours  */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #5555FF;
    --tertiary-color: #1f1e1e;
}
/* Colours end  */


/* Header / Nav bar styles start */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a{
    text-decoration: none; /* <!-- this removed the link underlines --> */
    color: var(--primary-color);
    background-color: 1px var(--secondary-color);
}

header a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
    text-decoration: none;
}
/* Header / Nav bar styles end */

/* Style all section tags */
section{
    padding: 20px;
}

/* Section title styles start */
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    text-align: center;
    width: 240px
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}

.column-left {
    border-right: solid #5555FF;
    background-color: 'blue';
}
/* Section title styles end */

/* hero styles start  */
.hero{
    background-image: url("../img/purple.jpg");
    background-size: cover;
    background-position: right 35% bottom 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin:3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    text-align: center;
    justify-content: flex-end;
}
/* Hero styles end */

/* row styles start */
.row {
    display: flex;
    width: 100%;
}


.row p{
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

/* row styles end */

/* About me section styles start */
.about-me {
    display: flex;
    flex-direction: row;
    font-family: Helvetica, Arial, sans-serif;
}


.profile{
    display: flex;
    justify-content: center;
}

.profile img {
    width: 300px;
    height: 300px;
    padding-right: 20px;
}

.responsive {
    width: 100%;
    height: auto;
}
/* About me section styles end */

/* My Work section start  */
.top-images {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-images ul {
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

li {
    list-style: none;
    overflow: hidden;
}

.top-images ul li a {
    padding: 20px;
    overflow: hidden;
}

.top-images ul li span {
    display: flex;
    justify-content: center;
}
.top-images ul > li > a > img {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.top-images ul > li > a > img:hover {
    width: 310px;
    height: 207px;
}
/* My Work section end  */

/* Contact me section start */

.contact{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.contact-buttons{
    display: flex;
    justify-content: center;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* round buttons  */
  .fa {
      padding: 20px;
      font-size: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      margin: 5px 2px;
  }

  .fa:hover {
      opacity: 0.7;
      text-decoration: none;
  }

  /* Linked in */
  .fa-linkedin {
      background: #007bb5;
      color: white;
  }

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /* Instagram */
  .fa-instagram {
      background: #125688;
      color: white;
  }

/* Contact me section end */



/* MEDIA QUERIES */
 /* Smaller devices (800px and down) */
@media (max-width: 800px) { 
    /* My Work  */
    .top-images {
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .top-images ul {
        display: flex;
        overflow: hidden;
        flex-direction: row;
    }

    li {
        list-style: none;
        overflow: hidden;
    }

    .top-images ul li a {
        padding: 20px;
        overflow: hidden;
    }

    .top-images ul li span {
        display: flex;
        justify-content: center;
    }
    .top-images ul > li > a > img {
        width: 300px;
        overflow: hidden;
    }

    .top-images ul > li > a > img:hover {
        width: 310px;
    }
        
    .text-left {
        text-align: left;
    }
    
    .text-right {
        text-align: right;
    }
    

    /* FIX .COLUMN-LEFT AND BEFORE */
    .column-left {
        width: 600px;
        height  : 70px;   
        position: relative;
        border-right: none;
        justify-content: center;
        padding-bottom: 50px;
        margin-bottom: 20px;
        z-index : 1;
      }

      .column-left:before {
        display: flex;
        justify-content: center;
        content : "";
        position: absolute;
        left    : 24%;
        bottom  : 0;
        height  : 1px;
        width   : 50%;  /* or 100px */
        border-bottom: solid #5555FF;
      }
    
    .section-title{
        width: unset;
    }

    .row {
        flex-direction: column;
    }
    
}
